/* COLORS             */
/* Off-White  #F6F7EB */
/* Pale Green #788475 */
/* Green      #243010 */
/* Tan        #FFE0B5 */
/* Brown      #8A6552 */

/* PAGE SETUP */
* body {
  margin: 0px;
  background: #F6F7EB;
}
header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 8%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #243010;
}
header img {
  height: 80%;
  width: auto;
}

/* NAVBAR */
.menus {
  overflow: hidden;
  position: fixed;
  top: 8%;
  width: 100%;
  margin: 0px;
  padding: 5px;
  background-color: #8A6552;
}
.menus a {
  cursor: pointer;
  display: block;
  float: left;
  padding: 0px 20px;
  text-align: center;
  color: #FFE0B5;
  text-decoration: none;
}
#recipe_search {
  float: right;
  margin-right: 2%;
}

/* ASIDE */
.aside {
  float: left;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #F6F7EB;
  border-right-style: dashed;
  border-right-width: medium;
  border-right-color: #788475;
  width: 18%;
  top: 11%;
  bottom: 10%;
}
.aside p {
  margin: 10%;
}

/* CONTENT */
#content {
  max-width: 80%;
  margin-left: 19%;
  margin-top: 8%;
  margin-bottom: 8%;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-height: 10%;
  padding: 10px 20px;
  background: #788475;
}
footer h5 {
  margin: 0;
}
footer p {
  font-size: 12;
  text-align: left;
  margin: 0;
  padding-left: 15;
}
.column {
  float: left;
  width: 50%;
}
