<!doctype html>
<html lang="en">

<head>
  <!-- site title and icon -->
  <title>Grüber</title>
  <link rel="icon" href="../static/images/favicon.png"/>
  <!-- metadata -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
  <link rel="stylesheet" href="../static/css/forgotpassword.css"/>
  <!-- //initialize app -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <!-- //initialize auth -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="../static/js/jquery-3.3.1.js"></script>
</head>

<body>
  <div class="flex-container">  
    <!-- HEADER -->
    <header>
      <!-- LEFT -->
      <div class="header">
      </div>
      <!-- CENTER -->
      <div class="header">
        <img src="../static/images/gruber_name.png" alt="ingredients_image"/>
      </div>
      <!-- RIGHT -->
      <div class="header">
      </div>
    </header>

    <!-- NAV BAR -->
    <div class="menus">
      <a href="index.html">Home</a>
      <a onclick="displayFunction()">Show Recipes</a>
      <a href="profile.html">View Profile</a>
      <a href="recipeDisplay.html" onclick="passTitle()">Test Data Pass</a>
      <!-- <form id="nav_search"> -->
        <img src="../static/images/search_icon.png" id="recipe_search_button" onclick="searchRecipes1()"/>
        <input type="text" id="recipe_search" placeholder="Search Recipes"/>
      <!-- </form> -->
    </div>

    <div class="main_content">

      <!-- BODY -->
      <div id="loader"></div>
      <div class="forgotpasswordform">
        <form><!-- action="/profile.html"> -->
          <!-- add later, check for unique display, maybe add date of birth, country, etc? -->
          <h1>Reset Password</h1><br>
          <input type="text" id="email" placeholder="Enter Email"/><br>
          <input type="button" onclick="forgotPassword()" id="forgotpassword-button" value="Submit"/>
        </form>
      </div>


      <!-- FOOTER -->
      <footer>
        <div class="column">
          <h5>Team Members:</h5>
          <p>
            Andrew
          </p><p>
            Jorge
          </p><p>
            Colin
          </p><p>
            Donovan
          </p><p>
            SueAnn
          </p>
        </div>
        <div class="column">
          <h5>-About Us-</h5>
        </div>
      </footer>
    </div>
  </div>

  <!-- SCRIPTS -->
  <script type ="text/javascript">
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
  </script>

  <script type ="text/javascript">
    function forgotPassword() {
    const auth = firebase.auth();
    var txtEmail = document.getElementById('email').value;
    auth.sendPasswordResetEmail(txtEmail).then(function() {
      alert('Email sent.');
      document.location.href = '/index.html';
    }).catch(function(error) {
      alert(error);
      console.log(error);
    })
  };
  </script>
</body>

</html>
