<!doctype html>
<html lang="en">

<head>
  <!-- site title and icon -->
  <title>Grüber</title>
  <link rel="icon" href="../static/images/favicon.png"/>
  <!-- metadata -->
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="../static/css/styles.css"/>
  <!-- //initialize app -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <!-- //initialize auth -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="../static/js/jquery-3.3.1.js"></script>

</head>
<body>
<div class="flex-container">
  <!-- HEADER -->
  <header>
    <!-- LEFT -->
    <div class="header">
    </div>
    <!-- CENTER -->
    <div class="header">
      <img src="../static/images/gruber_name.png" alt="ingredients_image"/>
    </div>
    <!-- RIGHT -->
    <div class="header">
<!--redirect      <form action="profile.html"> -->
      <div class="sign-in-form">

        <!-- Profile login: <br> -->
        <input type="text" id="login-username" name="Username" placeholder="Email"/><br>
        <input type="password" id="login-password" name="Password" placeholder="Password"/><br>

        <button id="login-button" class="btn-action">Log in</button>
        <button id="signup-button" class="btn-secondary">Sign up</button>
      </div>

      <div class="signed-in">  <!-- display profile details top right-->
      <!-- remove <div id="firebaseui-auth-container"></div>  -->
        <div id="photo-container"></div>
        <div id="name"></div>
        <div id="email"></div>
        <button id="logout-button" class="btn-action-hide">Log out</button>
      </div>

    </div>
  </header>

  <!-- NAV BAR -->
  <div class="menus">
    <a href="index.html">Home</a>
    <a onclick="displayFunction()">Show Recipes</a>
    <a href="profile.html">View Profile</a>
    <!-- <form id="nav_search"> -->
      <img src="../static/images/search_icon.png" id="recipe_search_button" onclick="searchRecipes1()"/>
      <input type="text" id="recipe_search" placeholder="Search Recipes"/>
    <!-- </form> -->
  </div>

<div class="main_content">
  <!-- ASIDE -->
  <div class="aside">
    <p>Content goes here!</p>
    <input type="text" id="ingredient_search" placeholder="Add Ingredient!"/>
  </div>

  <!-- BODY -->
  <div id=content>
    <pre id="loader">
    <!-- empty text dump -->
    </pre>
    <div class="recipe_display">
      <div>Recipe 1</div>
      <div>Recipe 2</div>
      <div>Recipe 3</div>
    </div>
  </div>
</div>

  <!-- FOOTER -->
  <footer>
    <div class="column">
      <h5>Team Members:</h5>
      <p>
        Andrew
      </p><p>
        Jorge
      </p><p>
        Colin
      </p><p>
        Donovan
      </p><p>
        SueAnn
      </p>
    </div>
    <div class="column">
      <h5>-About Us-</h5>
    </div>
  </footer>

</div>


  <!-- SCRIPTS -->
  <script type ="text/javascript">
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
  </script>

  <!-- //authentication snippet -->
  <!-- <script src="https://cdn.firebase.com/libs/firebaseui/2.6.0/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.0/firebaseui.css" /> -->
  <!-- <script type="text/javascript">
    var uiConfig = {
      signInFlow: 'popup',
      signInSuccessUrl: '/profile.html',
      signInOptions: [
        {
          provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
          requireDisplayName: true
        },
        firebase.auth.FacebookAuthProvider.PROVIDER_ID
      ],
      //tosUrl : '/tos.html'
    };
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    ui.start('#firebaseui-auth-container', uiConfig);
  </script>
  -->
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/profile.js"></script>
  <script src="../static/js/auth.js"></script>
</body>

</html>
