<!doctype html>
<html lang="en">

<head>
  <!-- site title and icon -->
  <title>Grüber</title>
  <link rel="icon" href="../static/images/favicon.png"/>
  <!-- metadata -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/css/styles.css"/>
  <!-- //initialize app -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <!-- //initialize auth -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="../static/js/jquery-3.3.1.js"></script>
</head>

<body onload="newSearch()">
<div class="flex-container">
  <!-- HEADER -->
  <header>
    <!-- LEFT -->
    <div class="header">
    </div>
    <!-- CENTER -->
    <div class="header">
      <img src="../static/images/gruber_name.png" alt="GRUBER_NAME"/>
    </div>
    <!-- RIGHT -->
    <div class="header">
      <div class="sign-in-form">
        <!-- Profile login: <br> -->
        <input type="text" id="login-username" name="Username" placeholder="Email"/>
        <input type="password" id="login-password" name="Password" placeholder="Password" style="margin-bottom:3px;"/>
        <br>
        <button id="login-button" class="btn-action">Log in</button>
        <input type="button" onclick="location.href='signup.html';" value="Sign Up" />
        <input type="button" onclick="location.href='forgotpassword.html';" value="Forgot Password" />
      </div>
      <div class="signed-in">
        <!-- display profile details top right-->
        <div id="photo-container"></div>
        <div id="name"></div>
        <div id="email"></div>
        <button id="logout-button" class="btn-action-hide">Log out</button>
        <input type="button" onclick="location.href='signup.html';" id="setdisplayname" value="Set Display Name" />
      </div>
    </div>
  </header>

  <!-- NAV BAR -->
  <div class="menus">
    <a href="index.html">Home</a>
    <!-- change to conditional display -->
    <a href="profile.html" id="viewProfile">View Profile</a> 
    <img src="../static/images/search_icon.png" id="recipe_search_button" onclick="newSearch()"/>
    <input type="text" id="recipe_search" placeholder="Search Recipes"/>
  </div>

  <div class="main_content">
    <!-- ASIDE -->
    <div class="aside">
      <p>Content goes here!</p>
      <input type="text" id="ingredient_search" placeholder="Add Ingredient!"/>
    </div>
    <!-- BODY -->
    <div id=content>
      <pre id="loader">
        <!-- empty text dump -->
      </pre>
      <div class="thumbnail_layout">
        <div id="thumbnails">
          <!-- thumbnails go here -->
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <div class="column">
      <h5>Team Members:</h5>
      <p>
        Andrew
      </p><p>
        Jorge
      </p><p>
        Colin
      </p><p>
        Donovan
      </p><p>
        SueAnn
      </p>
    </div>
    <div class="column">
      <h5>-About Us-</h5>
    </div>
  </footer>

</div>

  <!-- SCRIPTS -->
  <script type ="text/javascript">
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
  </script>
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/profile.js"></script>
  <script src="../static/js/auth.js"></script>
</body>

</html>
