<!doctype html>
<html lang="en">

<head>
    <!-- site title and icon -->
    <title>:edwin:</title>
    <link rel="icon" href="../static/images/favicon.ico"/>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>

<body>
  <!-- HEADER -->
  <header>
    <img src="../static/images/gruber_header.png" alt="ingredients_image" width="100%"/>
  </header>
  <!-- NAV BAR -->
  <div class="menus">
    <a href="/">Home</a>
    <a onclick="displayFunction()">Show Recipes</a>
    <a href="profile">View Profile</a>
    <input type="text" placeholder="Search Recipes"/>
  </div>

  <!-- Profile Login -->
  <div class="login">
    <form>
	Profile login: <br>
	Username: <input type="text" id="Username"/><br>
	Password: <input type="text" id="Password"><br>
	<input type="submit" value="Submit" onclick="ProfileSearch()">
	</form>
	<button onclick="ProfileSearch()">Try it</button>
  </div>

  <!-- BODY -->
  <div id="filler">
    <pre id="loader">
      <!-- empty text dump -->
    </pre>
  </div>

  <!-- FOOTER -->
  <footer>
    <div class="column">
      <h5>Team Members:</h5>
      <p>
        Andrew
      </p><p>
        Jorge
      </p><p>
        Colin
      </p><p>
        Donovan
      </p><p>
        SueAnn
      </p>
    </div>
    <div class="column">
      <h5>-About Us-</h5>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  
  firebase.initializeApp(config);
  </script>
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/profile.js"></script>

  <script> 
	function ProfileSearch() {
		var entry = document.getElementById("Username").value;
		displayProfile(entry);
	}
  </script>

</body>

</html>
