<!doctype html>
<html lang="en">

<head>
    <!-- site title and icon -->
    <title>MyProfile</title>
    <link rel="icon" href="../static/images/favicon.png"/>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>

<body>
  <!-- HEADER -->
  <header>
    <!-- LEFT -->
    <div class="header">
    </div>
    <!-- CENTER -->
    <div class="header">
      <img src="../static/images/gruber_name.png" alt="GRUBER_NAME"/>
    </div>
    <!-- RIGHT -->
    <div class="header">
      <div class="sign-in-form">
        <!-- Profile login: <br> -->
        <input type="text" id="login-username" name="Username" placeholder="Email"/>
        <input type="password" id="login-password" name="Password" placeholder="Password" style="margin-bottom:3px;"/>
        <br>
        <button id="login-button" class="btn-action">Log in</button>
        <input type="button" onclick="location.href='signup.html';" value="Sign Up" />
        <input type="button" onclick="location.href='forgotpassword.html';" value="Forgot Password" />
      </div>
      <div class="signed-in">
        <!-- display profile details top right-->
        <div id="photo-container"></div>
        <div id="name"></div>
        <div id="email"></div>
        <button id="logout-button" class="btn-action-hide">Log out</button>
        <input type="button" onclick="location.href='signup.html';" id="setdisplayname" value="Set Display Name" />
      </div>
    </div>
  </header>

  <!-- NAV BAR -->
  <div class="menus">
    <a href="index.html">Home</a>
    <!--<a onclick="searchRecipes1()">MyRecipes</a>-->
    <a href="addRecipe.html">Add Recipe</a>
	<a href="editRecipe.html">Edit Recipe</a>
   <!-- <a onclick="uploadRecipe()">New Recipe</a> -->
  </div>

  <!-- BODY -->
  <div id="loader"></div>

  <!-- SCRIPTS -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
  </script>
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/generic-login.js"></script>
</body>

</html>
