<!doctype html>
<html lang="en">

<head>
    <!-- site title and icon -->
    <title>My Profile</title>
    <link rel="icon" href="../static/images/favicon.png"/>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>

<body>
<div class="flex-container">
  <!-- HEADER -->
  <header>
    <!-- LEFT -->
    <div class="header">
    </div>
    <!-- CENTER -->
    <div class="header">
      <img src="../static/images/gruber_name.png" alt="ingredients_image"/>
    </div>
    <!-- RIGHT -->
    <div class="header">
      <button class="signin" onclick="ProfileSearch()">Sign Out</button>
    </div>
  </header>

  <!-- NAV BAR -->
  <div class="menus">
    <a href="index.html">Home</a>
    <a onclick="searchRecipes1()">MyRecipes</a>
    <a onclick="uploadRecipe()">New Recipe</a>
  </div>

<div class="main_content">
  <!-- ASIDE -->
  <div class="aside"></div>

  <!-- BODY -->
  <div id=content>
    <pre id="loader">
    <!-- empty text dump -->
    </pre>
    <div class="recipe_display">
      <div>Recipe 1</div>
      <div>Recipe 2</div>
      <div>Recipe 3</div>
    </div>
  </div>
</div>

  <!-- FOOTER -->
  <footer>
    <div class="column">
      <h5>Team Members:</h5>
      <p>
        Andrew
      </p><p>
        Jorge
      </p><p>
        Colin
      </p><p>
        Donovan
      </p><p>
        SueAnn
      </p>
    </div>
    <div class="column">
      <h5>-About Us-</h5>
    </div>
  </footer>

</div>

  <!-- SCRIPTS -->

  <!-- //initialize app -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <!-- //initialize auth -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>

  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
  </script>
<!-- <<<<<<< HEAD -->
  <script src="../static/js/jquery-3.3.1.js"></script>
<!-- ======= -->

  <!-- //authentication snippet -->
  <script src="https://cdn.firebase.com/libs/firebaseui/2.6.0/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.0/firebaseui.css" />

  <script type="text/javascript">
      var uiConfig = {
        signInSuccessUrl: '/profile.html',
        signInOptions: [
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          firebase.auth.FacebookAuthProvider.PROVIDER_ID
        ],
        //tosUrl : '/tos.html'
      };
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      ui.start('#firebaseui-auth-container', uiConfig);
  </script>

<!-- >>>>>>> 113f585e5b23c1365ce64d2a673ea189feb07b3c -->
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/profile.js"></script>

  <script>
    function ProfileSearch() {
	  var entry = document.getElementById("Username").value;
      displayProfile(entry);
	}
  </script>

</body>

</html>
