<!doctype html>
<html lang="en">

<head>
    <!-- site title and icon -->
    <title>:edwin:</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <!-- metadata -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>

<body>
  <header>
    <img src="/static/images/header_image.jpeg" alt="ingredients_image" width="100%"/>
    <h1>Edwin's Favorite Site</h1>
  </header>
  <button onclick="displayFunction()">Let's Get Started!</button>
  <button link="pages/profile.html">View Profile</button>
  <p id="loader">
    <!-- empty -->
  </p>

  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnrHO7Zn9f25DUkfTyYE20aCJtTn60igI",
    authDomain: "gruberdb-d230e.firebaseapp.com",
    databaseURL: "https://gruberdb-d230e.firebaseio.com",
    projectId: "gruberdb-d230e",
    storageBucket: "gruberdb-d230e.appspot.com",
    messagingSenderId: "144586333049"
  };
  firebase.initializeApp(config);
const preObject = document.getElementById("loader");
  var dbRefObject = firebase.database().ref().child('Recipes');
  function displayFunction() {
    dbRefObject.on('value', snap => {
            preObject.innerHTML = JSON.stringify(snap.val(), null, 3);
          });
  }
  </script>
</body>

</html>
